# Environment
.idea
.vagrant
.vagrant*
vagrant-bundle*
vagrant-configfile*
vagrant-gemfile*
vagrant-shell*
vagrant-linux*
login.yml
login.cfg
*.box
*~
.classpath
.project
.settings
.metadata
*.iml
*.ipr

# Java
*.jar
*.war
*.ear

# Images
*.jpg
*.gif
*.png
*.svg
*.ico

# Video
*.wmv
*.mpg
*.mpeg
*.mp4
*.mov
*.flv
*.avi
*.ogv
*.ogg
*.webm

# Audio
*.wav
*.mp3
*.wma

# Fonts
*.eot
*.ttf
*.woff

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tar.gz
*.zip
